<nav class="navbar navbar-expand-lg border-bottom navbar-light bg-white">
  <a class="navbar-brand" href="#">Scanner SF</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>